{{total_record}}

<h1>All Totals</h1>

<h3>Salary: {{salaries.salary | default:0}}</h3>
<span>
    <a href="{% url 'Bank:ChangeSalary' total_record.uuid %}">
        Change Salary
    </a>
  </span>
<h3>Saving: {{savings.saving | default:0}}</h3> 
<span> 
<span>
    <a href="{% url 'Bank:ChangeSaving' total_record.uuid %}">
        Change Saving
    </a>
  </span>

  <h3> Others: {{others.balance | default:0}}</h3>
<span>
    <a href="{% url 'Bank:ChangeOthers' total_record.uuid %}">
      Change balance for "{{others.others}}"
    </a>
  </span>


  <form method="post" action="{%url 'Account:logout' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
</form>

