/App/__pycache__
/App/migrations/__pycache__
/App/migrations
/Bank/__pycache__
/venv
/db.sqlite3
/Account/__pycache__
/Account/migrations
Frontend/kivy-debs-build/
/api/migrations
/api/migrations/__pycache__
